/* CSS DOCUMENT */

h3 {
	padding-bottom: 0em;
	margin-bottom: 0em;
}

h2 {
	padding-bottom: 0em;
	margin-bottom: 0em;
}

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
}

img {
	width: 100%;
}

div.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 60em;
	margin: auto;
}

header {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
}

article {
	flex-basis: 30em;
	flex-grow: 1;
	flex-shrink: 0;
	padding-right: 1em;
}

aside {
	flex-basis: 20em;
	flex-grow: 1;
	flex-shrink: 0;
}

aside p {
	margin-top: 0em;
}

footer {
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	border-top: 2px solid #eeeeee;
	margin-top: 2em;
}

section {
	background: #eeeeee;
	padding: 1em;
	margin-bottom: 1em;
}

section a {
	color:#000000
}

a {
	text-decoration: none;
	color: #000;
}

ol { 
padding: 0%;
}

section p {
	margin-top: 0;
}

figure{
	margin: 0;
	}

	@media screen and (min-width: 50em){
		div.container{
		display: flex;
		flex-wrap: wrap;
		max-width: 65em;
		margin: auto;
		}}
